.neuton{
  font-family: 'Neuton', serif;
}

.oswald{
	font-family: 'Oswald', sans-serif;
}

/* Colors */

.royal-blue{
	color: #001688;
}

.bg-royal-blue{
	background-color: #001688;
}

.bg-light-gold{
	background-color: #fdc851;
}

/* Custom */

.top-60{
	top: 60px;
}

.left--50{
	left: 50%;
}

.translate-x--50{
	transform: translateX(-50%);
}

.banner-top {
	z-index: 10;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 100%;
	height: 60px;
	position: relative;
	margin-bottom: -90px;
	margin-top: -60px;
	padding: 12px;
	border: none;
	color: rgba(0, 0, 0, 1);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
}

.banner-top::before {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 50%;
	height: 100%;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	border: none;
	color: rgba(0, 0, 0, 1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: goldenrod;
	text-shadow: none;
	-webkit-transform: skewY(6deg);
	transform: skewY(6deg);
}

.banner-top::after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 50%;
	height: 100%;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	border: none;
	color: rgba(0, 0, 0, 1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: goldenrod;
	text-shadow: none;
	-webkit-transform: skewY(-6deg);
	transform: skewY(-6deg);
}

.chevron {
	z-index: 10;
	border: none;
	color: rgba(0, 0, 0, 1);
}

.chevron::before {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 50%;
	height: 100%;
	position: absolute;
	content: "";
	top: 15px;
	background-color: white;
	left: 0;
	border: none;
	color: rgba(0, 0, 0, 1);
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: none;
	-webkit-transform: skewY(10deg);
	transform: skewY(10deg);
}

.chevron::after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 50%;
	height: 100%;
	position: absolute;
	content: "";
	top: 15px;
	background-color: white;
	right: 0;
	border: none;
	color: rgba(0, 0, 0, 1);
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: none;
	-webkit-transform: skewY(-10deg);
	transform: skewY(-10deg);
}

.bottom-angle::after{
	content: "";
	display: block;
	background-color: white;
	width: 100%;
	height: 100px;
	position: absolute;
	left: -30%;
	top: -60%;
	z-index: 0;
	transform: rotate(20deg);
}

.sticky{
	position: fixed;
	top: 0;
}

.fancy {
	overflow: hidden;
	text-align: center;
}

.fancy span {
	position: relative;
}

.fancy span:before,
.fancy span:after {
	content: "";
	position: absolute;
	/*border-bottom: 1px solid var(--primary);*/
	border-top: 1px solid #ffb700;
	width: 600px;
	height: 7px;
	top: 50%;
	margin-top: 3px;
}

.fancy span:before {
	right: 100%;
	margin-right: 15px;
}

.fancy span:after {
	left: 100%;
	margin-left: 15px;
}

.mt-fancy{
	margin-top: -15px;
}

.contact-slide-up{
	transform: translate(-50%, -272px);
	height: 600px !important;
	/* top: -346px; */
}

.to{
	transition: opacity 0.3s;
}

.ta{
	transition: all 0.3s;
}

tt{
	transition: transform 0.3s;
}

.w6{
	width: 300px;
}

.w-35{
	width: 35%;
}

.w-15{
	width: 15%;
}

.h6{
	height: 330px;
	top: -174px;
}

.h80px {
	height: 80px;
}

.top--50{
	top: -50px;
}

.left--100{
	left: -100px;
}

.bottom--215 {
	bottom: -2.25rem;
}

.bt-1px{
	border-top-width: 1px;
}

.br-1px{
	border-right-width: 1px;
}

.bl-1px{
	border-left-width: 1px;
}

	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/01/2018 09:50
  	*/

	@font-face {
	  font-family: "Flaticon";
	  src: url("/font/Flaticon.eot");
	  src: url("/font/Flaticon.eot?#iefix") format("embedded-opentype"), url("/font/Flaticon.woff") format("woff"), url("/font/Flaticon.ttf") format("truetype"), url("/font/Flaticon.svg#Flaticon") format("svg");
	  font-weight: normal;
	  font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	  @font-face {
	    font-family: "Flaticon";
	    src: url("/font/Flaticon.svg#Flaticon") format("svg");
	  }
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	  font-family: Flaticon;
	  font-style: normal;
	}

	.flaticon-001-wine:before {
	  content: "\f100";
	}

	.flaticon-002-vegetables:before {
	  content: "\f101";
	}

	.flaticon-003-chicken-2:before {
	  content: "\f102";
	}

	.flaticon-004-fish-1:before {
	  content: "\f103";
	}

	.flaticon-005-coffee-1:before {
	  content: "\f104";
	}

	.flaticon-006-steak:before {
	  content: "\f105";
	}

	.flaticon-007-spaguetti:before {
	  content: "\f106";
	}

	.flaticon-008-soup:before {
	  content: "\f107";
	}

	.flaticon-009-shrimp:before {
	  content: "\f108";
	}

	.flaticon-010-sheep:before {
	  content: "\f109";
	}

	.flaticon-011-seashell:before {
	  content: "\f10a";
	}

	.flaticon-012-salmon:before {
	  content: "\f10b";
	}

	.flaticon-013-salad:before {
	  content: "\f10c";
	}

	.flaticon-014-pizza:before {
	  content: "\f10d";
	}

	.flaticon-015-pig:before {
	  content: "\f10e";
	}

	.flaticon-016-pancake:before {
	  content: "\f10f";
	}

	.flaticon-017-sandwich:before {
	  content: "\f110";
	}

	.flaticon-018-lobster:before {
	  content: "\f111";
	}

	.flaticon-019-rib:before {
	  content: "\f112";
	}

	.flaticon-020-ice-cream:before {
	  content: "\f113";
	}

	.flaticon-021-hotdog:before {
	  content: "\f114";
	}

	.flaticon-022-tray:before {
	  content: "\f115";
	}

	.flaticon-023-fish:before {
	  content: "\f116";
	}

	.flaticon-024-crab:before {
	  content: "\f117";
	}

	.flaticon-025-coffee:before {
	  content: "\f118";
	}

	.flaticon-026-chicken-1:before {
	  content: "\f119";
	}

	.flaticon-027-chicken:before {
	  content: "\f11a";
	}

	.flaticon-028-cheese:before {
	  content: "\f11b";
	}

	.flaticon-029-cow-1:before {
	  content: "\f11c";
	}

	.flaticon-030-cake:before {
	  content: "\f11d";
	}

	.flaticon-031-burrito:before {
	  content: "\f11e";
	}

	.flaticon-032-hamburger:before {
	  content: "\f11f";
	}

	.flaticon-033-beer:before {
	  content: "\f120";
	}

	.flaticon-034-cow:before {
	  content: "\f121";
	}

	.flaticon-035-skewer:before {
	  content: "\f122";
	}

	.flaticon-036-bacon:before {
	  content: "\f123";
	}