<article class="fl bg-white w-100 w-50-m w-30-ns ma3">
  <div class="aspect-ratio aspect-ratio--3x4">
    <img style="background-image:url({{ .img }});" class="db bg-center cover aspect-ratio--object"
    />
    <div id="{{ .id }}" class="aspect-ratio--object bg-white-80 ph4 pv4 o-0 to">
      <p class="">{{ .bio }}</p>
    </div>
  </div>
  <div class="ph2 ph0-ns pb3 db lh-solid tc">
    <h3 class="f4 f4-ns mb0">{{ .name }}</h3>
    <h3 class="f6 f5 fw4 mt2 black-60">{{ .title }}</h3>
    <a onclick="showdiv('#{{ .id }}')" class="f6 link fw3 b--gold br2 ba bw1 ph3 pv2 mb2 dib gold hover-bg-gold hover-white" href="#0">Read Bob's Bio</a>
  </div>
</article>