<footer class="oswald bg-royal-blue">
  <div class="w-100 mw8 pt5 pt7-ns pb0 center">
    <div class="relative flex flex-wrap">
      <div class="dib db-ns w-100 w-third-ns pr4 white tr-ns">
        <h1 class="f2 fw7 ttu mt0 mb2 lh-solid">CFP</h1>
        <p class="white-70 f7 fw1 lh-copy tracked">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nisi odio, id minus excepturi accusantium iste vero quos optio dolor? Placeat tenetur modi recusandae soluta ipsum. Libero, tempore. Nam, temporibus.</p>
        <i class="fab fa-instagram f3 mr2"></i>
        <i class="fab fa-facebook-square f3 mr2"></i>
        <i class="fab fa-twitter-square f3"></i>
      </div>
      <div onclick="contact_slide()" id="contact" class="ta absolute left--50 translate-x--50 h6 dib db-ns w-100 w-third-ns bg-white overflow-hidden">
        <div class="ma2 h-100 br bl bt b--gold bw1">
          <div class="ma1 h-100 br bl bt b--gold"></div>
        </div>
      </div>
    </div>
  </div>
</footer>