<footer id="footer" class="oswald bg-royal-blue">
  <div class="w-100 mw8 pt5 pt7-ns pb0 center">
    <div class="relative flex flex-wrap">
      <div class="dib db-ns w-100 w-third-ns pr4 white tr-ns overflow-hidden">
        <img class="w-cfp-logo mt0 mb2 lh-solid" src="/img/CFP-Logo.svg"></img>
        <p class="white-70 mb5 f7 fw1 lh-copy tracked">Certified Financial Planner Board of Standards Inc. owns the certification marks CFP®, CERTIFIED FINANCIAL PLANNER™ and in the U.S., which it awards to individuals who successfully complete CFP Board’s initial and ongoing certification requirements.</p>
        <!--
        <i class="fab fa-instagram f3 mr2"></i>
        <i class="fab fa-facebook-square f3 mr2"></i>
        <i class="fab fa-twitter-square f3"></i>
        -->
      </div>
      <div onclick="contact_slide(); return false;" id="contact" class="ta absolute left--50 translate-x--50 h6 dib db-ns w-100 w-third-ns bg-white overflow-hidden">
        <div class="ma2 h-100 br bl bt b--cr-wheat bw1">
          <div class="ma1 h-100 br bl bt b--cr-wheat">
            <div class="db center w-75 pb4">
              <img class="" src="/img/logo.svg">
            </div>
            <a href="tel:13029944700" class="db link gold mv2 pv2 bt bb b--cr-wheat f4 fw4 tc">(302) 994-4700</a>
            <a class="db link royal-blue f3 fw5 tc">Email Us<br>&darr;</a>
            <form class="ma3 tc">
              <label class="clip" for="name">Name</label>
              <input class="f6 input-reset bn black-80 bg-cr-light-wheat pa2 lh-solid w-100 br2 mb2" placeholder="Name" type="text">
              <label class="clip" for="email-address">Email</label>
              <input class="f6 input-reset bn black-80 bg-cr-light-wheat pa2 lh-solid w-100 br2 mb2" placeholder="Email" type="text">
              <label class="clip" for="phone">Phone</label>
              <input class="f6 input-reset bn black-80 bg-cr-light-wheat pa2 lh-solid w-100 br2 mb2" placeholder="Phone" type="text">
              <label class="clip" for="message">Message</label>
              <textarea class="f6 input-reset bn black-80 bg-cr-light-wheat pa2 lh-solid w-100 br2 mb2" placeholder="Message" type="text" rows="5"></textarea>
              <input onclick="" class="f6 link fw3 b--gold br2 ba bw1 ph3 pv2 mb2 dib gold bg-white hover-bg-gold hover-white" type="submit" value="Send">
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>