<footer class="oswald bg-royal-blue">
  <div class="w-100 mw8 pt5 pt7-ns pb0 center">
    <div class="relative flex flex-wrap">
      <div class="dib db-ns w-100 w-third-ns pr4 white tr-ns overflow-hidden">
        <h1 class="f2 fw7 ttu mt0 mb2 lh-solid">CFP</h1>
        <p class="white-70 f7 fw1 lh-copy tracked">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nisi odio, id minus excepturi accusantium iste vero quos optio dolor? Placeat tenetur modi recusandae soluta ipsum. Libero, tempore. Nam, temporibus.</p>
        <i class="fab fa-instagram f3 mr2"></i>
        <i class="fab fa-facebook-square f3 mr2"></i>
        <i class="fab fa-twitter-square f3"></i>
      </div>
      <div onclick="contact_slide()" id="contact" class="ta absolute left--50 translate-x--50 h6 dib db-ns w-100 w-third-ns bg-white overflow-hidden">
        <div class="ma2 h-100 br bl bt b--gold bw1">
          <div class="ma1 h-100 br bl bt b--gold">
            <img src="/img/mike-tinnion-365019-unsplash.jpg" class="db center">
            <a href="tel:13029944700" class="db link gold mv4 pv3 bt bb b--gold f3 fw4 tc">(302) 994-4700</a>
            <a class="db link royal-blue f3 fw5 tc">Email Us<br>&darr;</a>
            <form class="ma3">
              <label class="clip" for="name">Name</label>
              <input class="f6 input-reset bn black-80 bg-washed-yellow pa2 lh-solid w-100 br2 mb2" placeholder="Name" type="text">
              <label class="clip" for="email-address">Email</label>
              <input class="f6 input-reset bn black-80 bg-washed-yellow pa2 lh-solid w-100 br2 mb2" placeholder="Email" type="text">
              <label class="clip" for="phone">Phone</label>
              <input class="f6 input-reset bn black-80 bg-washed-yellow pa2 lh-solid w-100 br2 mb2" placeholder="Phone" type="text">
              <label class="clip" for="message">Message</label>
              <textarea class="f6 input-reset bn black-80 bg-washed-yellow pa2 lh-solid w-100 br2" placeholder="Message" type="text" rows="5"></textarea>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>