<header class="relative overflow-hidden">
  <div class="w6 absolute z-999 top-0 left--50 translate-x--50">
    {{ partial "img/logo-top.svg" . }}
  </div>
  <div class="banner-top"></div>
  <!--
  <div class="chevron absolute bg-white left-0 right-0 center w5 h5"></div>
  -->
  <div class=""></div>
  <div id="parallax-bg" class="z-0 flex items-end vh-75 cover bg-center" style="background: linear-gradient(
      rgba(0, 0, 0, 0.0), 
      rgba(0, 0, 0, 0.0)
    ), url('/img/Crowley-180620-2.jpg'); background-position: 50% 0; transform: translate3d(0,0,0);">
  </div>
</header>
<nav id="nav" class="relative bg-black-30 w-100 nt-nav z-999">
  <ul class="white list mw8 mv0 pv4 ph0 center ttu f4 tc">
    <li class="dib mh2"><a href="#about" class="link white hover-gold">About</a></li>
    <li class="dib mh2"><a href="#services" class="link white hover-gold">Services</a></li>
    <li class="dib mh2"><a href="#testimonials" class="link white hover-gold">Testimonials</a></li>
    <li class="dib mh2"><a href="#news" class="link white hover-gold">News &amp; Updates</a></li>
    <li class="dib mh2"><a href="#" class="link white hover-gold">Client Portal</a></li>
    <li class="dib mh2"><a href="#footer" class="link white hover-gold">Contact Us</a></li>
  </ul>
</nav>