<header class="relative overflow-hidden">
  <div class="w6 absolute z-999 top-0 left--50 translate-x--50">
    <a href="/" class="">
    {{ partial "img/logo-top.svg" . }}
    </a>
  </div>
  <div class="banner-top"></div>
  <!--
  <div class="chevron absolute bg-white left-0 right-0 center w5 h5"></div>
  <div class=""></div>
  -->
  <div id="parallax-bg" class="z-0 flex items-end vh-75 cover bg-center">
  </div>
</header>
<nav class="dn db-ns relative w-100 nt-nav z-999">
  <ul class="royal-blue list mw8 mv0 pv4 ph0 center ttu f4 tc">
    <li class="dib mh2"><a href="/#about" class="link royal-blue hover-gold">About</a></li>
    <li class="dib mh2"><a href="/#services" class="link royal-blue hover-gold">Services</a></li>
    <li class="dib mh2"><a href="/#testimonials" class="link royal-blue hover-gold">Testimonials</a></li>
    <li class="dib mh2"><a href="/#news" class="link royal-blue hover-gold">News &amp; Updates</a></li>
    <li class="dib mh2"><a href="https://client.schwab.com/Login/SignOn/CustomerCenterLogin.aspx" target="_blank" class="link royal-blue hover-gold">Client Portal</a></li>
    <li class="dib mh2"><a href="#footer" class="link royal-blue hover-gold">Contact Us</a></li>
  </ul>
</nav>