{{ define "main" }}
<section class="relative w-100 pt6 pb6 center white" style="background: linear-gradient( rgba(82, 70, 41, 0.95), rgba(82, 70, 41, 0.95) ), url('/img/gabriel-garcia-marengo-40906-unsplash.jpg')">
  <div class="cf mw8 pv4 b--gold b--solid bt-1px bl-1px br-1px bb-0 center tc">
    <h2 class="f1 fw3 mt2 mb1 ttu">Comprehensive Wealth Management</h2>
    <h3 class="f2 fw3 mt0 mb2">Building Long-term Relationships</h2>
  </div>
  <div class="relative mw8 mt-fancy center">
    <h2 class="oswald ma0 pa0 f5 fw1 lh-copy tracked-mega fancy">
      <span>Financial Planning Investment Management Tax Planning Estate Planning</span></h2>
  </div>
</section>
<section class="w-100 bg-washed-yellow pv4 center">
  <div class="mw8 lh-solid center">
    <h2 class="dark-blue pb3 f2 fw7 b--gold b--solid bt-0 bl-0 br-0 ttu">Who We Are</h2>
    <div class="bg-white flex flex-wrap items-start">
      <div class="w-100 w-50-ns">
        <div class="oswald f5 fw3 ma5 black-70 lh-copy">
          <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, voluptatum dolorum cupiditate officia iusto impedit voluptatem error possimus nemo, doloribus maiores laudantium necessitatibus sunt. Dolor optio consequatur iusto commodi dolorem!</p>
          <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, voluptatum dolorum cupiditate officia iusto impedit
            voluptatem error possimus nemo, doloribus maiores laudantium necessitatibus sunt. Dolor optio consequatur iusto commodi
            dolorem!</p>
          <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, voluptatum dolorum cupiditate officia iusto impedit
              voluptatem error possimus nemo, doloribus maiores laudantium necessitatibus sunt. Dolor optio consequatur iusto commodi
              dolorem!</p>
        </div>
      </div>
      <div class="w-100 w-50-ns">
        <img src="/img/dummy-1.jpg" class="">
      </div>
    </div>
    <div class="flex flex-wrap justify-between mt5">
      <div class="w6 h5 mb5 bg-black"></div>
      <div class="w6 h5 mb5 bg-black"></div>
      <div class="w6 h5 mb5 bg-black"></div>
      <div class="w6 h5 mb5 bg-black"></div>
      <div class="w6 h5 mb5 bg-black"></div>
    </div>
  </div>
</section>
<section class="cf relative w-100 bg-white pv5 center">
  <img src="/img/ebook_transparent.png" class="absolute mw6 top--50 left--100" alt="">
  <div class="cf mw8 center">
    <div class="fr w-100 w-third-ns">
      <form class="center">
        <fieldset class="cf bn ma0 pa0">
          <div class="cf">
            <label class="clip" for="email-address">Email Address</label>
            <input class="f6 input-reset ba b--black-20 fn fl-ns black-80 bg-white pa2 w-100 w-60-ns br2-ns br--left-ns" placeholder="Your Email Address"
              type="text" name="email-address" value="" id="email-address">
            <input class="center db dib-ns ba f6 button-reset fn fl-ns pv2 ph4 ph2-ns mt3 mt0-ns tc b--light-red bg-animate bg-light-red dim white pointer w-40-ns br-pill br--right-ns"
              type="submit" value="Recipes">
          </div>
        </fieldset>
      </form>      
    </div>
    <div class="fr w-100 w-third-ns lh-solid">
      <p class="mv0">Get delicious recipes for your family&hellip;</p>
      <h2 class="clicker khaki mv0 f-subheadline fw3 tr">free recipes</h2>
    </div>    
  </div>
</section>
<section class="w-100 bg-khaki white pt5 pb6 center lh-copy">
  <div class="mw8 center">
    <h2 class="clicker f2 f-subheadline-ns mt0 mb3 mb4-ns tc i">We love our customers</h2>
    <div class="flex">
      <div class="w-100 w-third-ns pw4">
        <div class="f6 fw3 mb4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, quaerat voluptates minima deleniti ullam eligendi omnis numquam rem ad nihil sint quo, impedit dolor soluta officia mollitia qui at maiores?</div>
        <div class="flex items-center ph4">
          <p class="f5 fw7 w-70 pr3 lh-title tr">Someone Smith<br><span class="fw3 i">All The Stuff</span></p>
          <img src="/img/amanda-kerr-39507-unsplash.jpg" class="fl w3 h3 br-100" alt="">
        </div>
      </div>
      <div class="w-100 w-third-ns pw4">
        <div class="f6 fw3 mb4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, quaerat voluptates minima deleniti ullam eligendi
          omnis numquam rem ad nihil sint quo, impedit dolor soluta officia mollitia qui at maiores?</div>
        <div class="flex items-center ph4">
          <p class="f5 fw7 w-70 pr3 lh-title tr">Someone Smith
            <br>
            <span class="fw3 i">All The Stuff</span>
          </p>
          <img src="/img/amanda-kerr-39507-unsplash.jpg" class="fl w3 h3 br-100" alt="">
        </div>
      </div>
      <div class="w-100 w-third-ns pw4">
        <div class="f6 fw3 mb4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, quaerat voluptates minima deleniti ullam eligendi
          omnis numquam rem ad nihil sint quo, impedit dolor soluta officia mollitia qui at maiores?</div>
        <div class="flex items-center ph4">
          <p class="f5 fw7 w-70 pr3 lh-title tr">Someone Smith
            <br>
            <span class="fw3 i">All The Stuff</span>
          </p>
          <img src="/img/amanda-kerr-39507-unsplash.jpg" class="fl w3 h3 br-100" alt="">
        </div>
      </div>      
    </div>
  </div>
</section>

{{ end }}
