{{ define "nav" }}
  {{ partial "nav-home" . }}
{{ end }}

{{ define "main" }}
<section class="relative w-100 pv4 pt6-ns pb6-ns center white" style="background: linear-gradient( rgba(82, 70, 41, 0.95), rgba(82, 70, 41, 0.95) ), url('/img/gabriel-garcia-marengo-40906-unsplash.jpg')">
  <div class="cf mw8 pv4 b--gold b--solid-ns bt-1px bl-1px br-1px bb-0 center tc">
    <h2 class="f2 f1-tweak-ns fw3 mt2 mb1 ttu">Comprehensive Wealth Management</h2>
    <h3 class="f4 f2-ns fw3 mt0 mb2">Building Long-term Relationships</h2>
  </div>
  <div class="relative mw8 mt-fancy center">
    <h2 class="oswald ma0 pa0 f5 fw1 lh-copy tracked-mega tc fancy">
      <span class="border">Financial Planning <span class="gold">&bull;</span>  Investment Management <span class="gold">&bull;</span> Tax Planning <span class="gold">&bull;</span> Estate Planning</span></h2>
  </div>
</section>
<section id="about" class="w-100 bg-washed-yellow pv4 center overflow-hidden" style="background-image: url('/img/03404d52-8445-11e8-b6b7-a0369f35efbc.jpeg');">
  <div class="mw8 lh-solid center ph2 ph0-ns">
    <h2 class="royal-blue pb3 f2 fw7 b--gold b--solid bt-0 bl-0 br-0 ttu">Who We Are</h2>
    <div class="bg-white flex flex-wrap items-stretch shadow-4 overflow-hidden">
      <div class="w-100 w-50-ns">
        <div class="oswald f5 fw3 ma3 ma5-ns black-70 lh-copy">
          <p class="">At Crowley Wealth Management, we take a comprehensive approach to wealth management. We build long term relationships with our clients in order to help them plan and achieve their financial goals.</p>
          <p class="">Unlike most other financial firms, Crowley Wealth Management goes above and beyond by delivering a package of services to clients that encompasses and coordinates all areas of personalized wealth management. We offer a truly unique and all-inclusive service. The advisors at Crowley Wealth Management specialize in financial planning, investment management, tax planning, and estate planning. They have extensive backgrounds in all areas of wealth management, and over 38 years of experience helping clients reach their financial goals.</p>
          <p class="">At Crowley Wealth Management, we guide our clients through all stages of wealth management including wealth accumulation, wealth distribution, and the transfer of wealth to future generations. Our firm was founded in 1980 by two brothers in Delaware, and we remain a family-owned firm serving clients all over the country. We operate as a fee-based, personal service business that you can trust. We do not sell financial products or earn commissions, and we are not a custodian.</p>
        </div>
      </div>
      <div class="w-100 w-50-ns cover bg-center" style="background-image: url('/img/Crowley-180620-4300-2.jpg')">
        <img src="/img/Crowley-180620-4300-2.jpg" class="o-0">
      </div>
    </div>
    <div class="oswald f5 fw1 lh-copy black-80 flex flex-wrap justify-center pt5 nl3 nr3">
      {{ range where .Data.Pages "Section" "team" }}
      {{ partial "card" (dict "name" .Title "title" .Params.team.title "img" .Params.image "bio" "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut accusamus sequi quos cumque quis repellat, enim minus placeat perspiciatis deleniti ipsa tempore voluptas, architecto vel? Praesentium atque numquam facilis sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nulla vitae illo, consequatur vel cumque in neque laborum iure temporibus, porro dolores fugiat dicta illum ratione, odio dolorum minima ex?" "link" .Permalink "id" .Params.team.id) }}
      {{ end }}
    </div>
  </div>
</section>
<section id="services" class="relative w-100 pt5 pb6 center white" style="background: linear-gradient( rgba(82, 70, 41, 0.95), rgba(82, 70, 41, 0.95) ), url('/img/gabriel-garcia-marengo-40906-unsplash.jpg')">
  <div class="mw8 pb3 center ph2 ph0-ns">
    <h2 class="pb3 f2 fw7 b--gold b--solid bt-0 bl-0 br-0 ttu">What We Do</h2>
  </div>
  <div class="oswald flex flex-wrap flex-nowrap-ns items-stretch f6 fw1 lh-copy relative mw8 ph2 ph0-ns near-black center">
    <div class="w-100 w-50-ns bg-white pa5 f5">
      <p class="mt0">With our in-depth knowledge of all areas of wealth management, we take care of every aspect of your financial life. Our goal is to help you and your family simplify the wealth management process, reduce costs, and optimize your resources.</p>
      <p class="mt0"><a href="#footer" class="link royal-blue hover-gold">Contact us</a> for a free initial consultation; we would love to introduce ourselves and discuss how we may be able to help you today.</p>
      <p class="mt0 i">Learn more&hellip;</p>
      <h3 class="mv0 f4 fw4 gold hover-near-black ttu pointer"><a onclick="showdiv_wwd('financial-planning')" class="">Financial Planning</a></h3>
      <h3 class="mv0 f4 fw4 gold hover-near-black ttu pointer">
        <a onclick="showdiv_wwd('investment-management')" class="">Investment Management</a>
      </h3>
      <h3 class="mv0 f4 fw4 gold hover-near-black ttu pointer">
        <a onclick="showdiv_wwd('tax-planning')" class="">Tax Planning</a>
      </h3>
      <h3 class="mv0 f4 fw4 gold hover-near-black ttu pointer">
        <a onclick="showdiv_wwd('estate-planning')" class="">Estate Planning</a>
      </h3>
    </div>
    <div id="what-we-do" class="relative vh-100 h-auto-ns w-100 w-35-ns bg-white nb4 shadow-4">
      {{ partial "what-we-do.html" (dict "title" "Financial Planning" "body" "Financial planning is at the heart of what we do for our clients. Our experienced staff will complete a comprehensive evaluation of your income, expenses, benefits, assets, and liabilities. Then they will work with you to develop a customized financial plan designed to help keep you financially independent in your retirement years and meet your future goals. We not only help you plan for events like retirement, and family or charitable gifting, but we also help you evaluate, understand, and manage any risks in the process." "opacity" "o-1" "id" "financial-planning")}}
      {{ partial "what-we-do.html" (dict "title" "Investment Management" "body" "We strongly believe in the core concepts of asset allocation and portfolio diversification. We work with clients to evaluate and choose the correct mix of investments that is suitable to his or her age, risk tolerance, and future goals. We closely monitor the markets and our client’s investments. We regularly review investment choices with clients and make changes in order to stay current with our client’s particular financial goals. As truly independent advisors, we work with trusted custodians to manage our client’s investments." "opacity" "o-0" "id" "investment-management")}}
      {{ partial "what-we-do.html" (dict "title" "Tax Planning" "body" "We take wealth management a step further than most advisors by not only helping you understand and take care of your tax liabilities, but by also preparing your Individual Income tax return. As part of our service, we routinely monitor your tax situation, and we develop and implement a plan in order to help you timely take care of your tax obligations. Also, we advise clients on how to best handle unique tax situations that may arise from time to time." "opacity" "o-0" "id" "tax-planning")}}
      {{ partial "what-we-do.html" (dict "title" "Estate Planning" "body" "Estate planning is not something you typically have to consider every year. However, when the need arises, our advisors will work with you and other licensed professionals in order to understand your intentions and help ensure that you will establish an appropriate estate plan that meets your needs. Our advisors have a close familiarity with your assets, and they have extensive education in this area of wealth management. This knowledge will allow them to make sure all of your assets are accounted for in your estate plan, and that your estate plan is the right plan for you." "opacity" "o-0" "id" "estate-planning")}}
      <div class="absolute w-100 bottom--215">
        <svg class="w-100 h2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon fill="white" points="0,100 100,0 0,0" />
        </svg>
      </div>
    </div>
    <div class="w-15 bg-center cover" style="background: url('/img/painting-2.jpg')"></div>
  </div>
</section>
<section id="testimonials" class="w-100 bg-gold center lh-copy">
  <div class="oswald f5 mw8 center">
    <div class="flex flex-wrap justify-center items-center">
    <article class="dib w-100 w-third-l pv5 ph4 pl0-l pr5-l tc">
      <img src="/img/1280px-CNBC_logo.png" class="w5">
    </article>
    <article class="dib w-100 w-auto-l ph4 ph0-l pb5 pb0-l">
      <p class="bb pb3">Rated one of the top 100 fee-only wealth management firms in America.</p>
      <p class="mv0 ttu"><a href="https://www.cnbc.com/top-100-fee-only-wealth-management-firms/" target="_blank" class="link black underline-hover">2014 TOP 100 FEE-ONLY WEALTH MANAGEMENT FIRMS</a></p>
      <p class="mv0 ttu"><a href="https://www.cnbc.com/cnbc-charts-the-top-100-firms/" target="_blank" class="link black underline-hover">2015 TOP-RATED WEALTH MANAGEMENT FIRMS</a></p>
    </article>
    </div>
  </div>
</section>
<section id="news" class="w-100 bg-washed-yellow pv6 center" style="background-image: url('/img/03404d52-8445-11e8-b6b7-a0369f35efbc.jpeg');">
  <div class="flex flex-wrap justify-center mw8 ph2 ph5-ns bg-white-ns near-black center">
    {{ range first 1 (where .Site.Pages "Section" "blog") }}
    <article class="w-100 w-60-ns bg-white pa4 fw1 nt5 nb5-ns shadow-4">
      <h2 class="royal-blue ml3 f3 fw7 ttu"><span>{{.Title}}</span></h2>
      <p class="pv3 ph3 b--gold f4 bt bb i lh-title">{{.Summary}}</p>
      <div class="mt5 ph3">
        <a href="{{.Params.link}}" target="_blank" class="neuton pa3 f6 tracked fw1 link bg-royal-blue white i hover-bg-gold">View Full Article</a>
        <p class="mt4">{{.Params.attrib}}</p>
      </div>
    </article>
    {{ end }}
    <div class="oswald flex-grow-1 ml5-ns mv5 ba b--black-30 bg-white">
      {{ range first 3 (after 1 (where .Site.Pages "Section" "blog")) }}
      <article class="ma3 ba b--black-30 tc">
        <h3 class="f5 fw5 pv3">{{.Title}}</h3>
        <a href="{{.Permalink}}" class="neuton db w-100 pa3 f6 tracked fw1 link bg-royal-blue white i hover-bg-gold">Read More</a>
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
